.Footer {
  padding-top: 4rem;
}

.Content {
  max-width: 720px;
  display: block;
  font: var(--font-body);
}

.MainLogo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 2rem;
}

.MainLogoIcon {
  height: 28px;
  fill: var(--footer-content-color);
  user-select: none;
}

.MainLogoText {
  max-width: 100%;
  height: 44px;
  fill: var(--footer-content-color);
  user-select: none;
}

.SiteLinks {
  padding: 0 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.SiteLinks a {
  padding: 0.4rem 0;
  font: var(--font-label-large);
  text-decoration: none;
  color: var(--secondary-active-content-color);
}

.LinkWithIcon {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.LinkIcon {
  fill: var(--secondary-active-content-color);
  height: 2rem;
  margin-bottom: 0.5rem;
}

.Social {
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.SocialIcon {
  height: 30px;
}

.OpenInNew {
  width: 0.7em;
  height: 0.7em;
  fill: var(--secondary-active-content-color);
}
