.MainLink {
  padding: 0.5rem 1rem;
  color: var(--primary-content-color);
  font: var(--font-title);
  text-decoration: none;
}

.MainLink:hover {
  background: var(--hovered-background);
  cursor: pointer;
}
