.ActionButton {
  border: 1px solid var(--active-content-color);
  border-radius: 4px;
  background-color: inherit;
  color: var(--active-content-color);
  padding: 0 23px;
  height: 36px;
  text-decoration: none;
  outline: 0;
  user-select: none;
}

.ActionButton:hover {
  cursor: pointer;
}

.Active {
  border-color: var(--active-content-color);
  color: var(--active-content-color);
  background-color: transparent;
}

.Active:hover {
  background: var(--hovered-background);
}

.ActiveBorderless {
  @extend .Active;
  border: none;
}

.ActiveFilled {
  background-color: var(--active-content-color);
  border: none;
  color: var(--primary-background-color);
}

.ActiveFilled:hover {
  filter: var(--hover-filter);
}

.Danger {
  border-color: var(--danger-content-color);
  color: var(--danger-content-color);
}

.Danger:hover {
  background-color: var(--hovered-danger-background-color);
}

.DangerBorderless {
  @extend .Danger;
  border: none;
}

.DangerFilled {
  background-color: var(--danger-content-color);
  border: none;
  color: var(--primary-background-color);
}

.DangerFilled:hover {
  filter: var(--hover-filter);
}

.Neutral {
  border-color: var(--conten-font-color);
  color: var(--primary-content-color);
}

.Neutral:hover {
  background: var(--hovered-background);
}

.NetrealBorderless {
  @extend .Neutral;
  border: none;
}

.Disabled {
  opacity: 38%;
}

.Disabled:hover {
  cursor: default;
  pointer-events: none;
  filter: none;
}

.Small {
  height: 28px;
  padding: 0 14px;
}
