.ActionButton {
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  box-sizing: border-box;
  border: 1px solid var(--active-content-color);
  border-radius: 4px;

  font: var(--font-label-small);
  text-decoration: none;
  text-align: center;
  color: var(--active-content-color);
  background-color: inherit;
  outline: 0;
  user-select: none;
}

.ActionButton:hover {
  cursor: pointer;
}

.Active {
  border-color: var(--active-content-color);
  color: var(--active-content-color);
  background-color: transparent;
  border-width: 2px;
}

.Active:hover {
  background: var(--hovered-active-background-color);
}

.ActiveBorderless {
  @extend .Active;
  border: none;
}

.ActiveFilled {
  background-color: var(--active-content-color);
  border: none;
  color: var(--primary-background-color);
}

.ActiveFilled:hover {
  filter: var(--hover-filter);
}

.Danger {
  border-color: var(--danger-content-color);
  color: var(--danger-content-color);
}

.Danger:hover {
  background-color: var(--hovered-danger-background-color);
}

.DangerBorderless {
  @extend .Danger;
  border: none;
}

.DangerFilled {
  background-color: var(--danger-content-color);
  border: none;
  color: var(--primary-background-color);
}

.DangerFilled:hover {
  filter: var(--hover-filter);
}

.Neutral {
  color: var(--primary-content-color);
  border-color: var(--primary-content-color);
}

.Neutral:hover {
  background: var(--hovered-background);
}

.NeutralBorderless {
  @extend .Neutral;
  border: none;
}

.NeutralFilled {
  background-color: var(--primary-content-color);
  color: var(--primary-background-color);
  border: none;
}

.Disabled {
  opacity: 48%;
}

.Disabled:hover {
  cursor: default;
  pointer-events: none;
  filter: none;
}

.Small {
  min-height: 28px;
  padding: 0 14px;
}

.Tall {
  height: 100%;
  max-height: 42px;
  padding: 12px 32px;
}

.Wide {
  width: 100%;
}

.Mail {
  text-decoration: underline;
}

.Round {
  border-radius: 32px;
}
