.Footer {
  height: var(--largest-spacer);
  padding: 0 var(--medium-spacer) var(--small-spacer) 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.Footer * {
  margin-left: var(--small-spacer);
}

.Information {
  padding: 0 var(--large-spacer);
  max-width: 320px;
}
