.MdIconButton {
  --md-icon-button-icon-color: var(--primary-content-color);
  --md-outlined-icon-button-outline-color: var(--primary-content-color);
}

.Danger {
  --md-icon-button-icon-color: var(--danger-content-color);
}
