.MediaList {
  display: flex;
  flex-direction: column;
}

.Label {
  display: block;
  font: var(--font-label);
}

.Row {
  background-color: var(--primary-background-color);
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: var(--secondary-border);
  border-bottom: var(--secondary-border);
}

.Row:hover {
  background: var(--hovered-background);
}

.ActiveRow {
  z-index: 2;
}

.ActiveRow:hover {
  background-color: var(--primary-background-color);
}

.RowActions {
  display: flex;
  gap: 0.5rem;
}

.Errors {
  color: var(--danger-content-color);
  font: var(--font-body);
}
