$compact-min-width: 360px;
$medium-min-width: 600px;

.GetStarted {
  padding: 1rem;
  min-height: var(--fill-height);
  background-color: var(--display-background-color);
}

.Hero {
  max-width: 758px;
  margin: 0 auto;

  @media only screen and (min-width: $compact-min-width) {
    margin: 2rem auto;
  }
  @media only screen and (min-width: $medium-min-width) {
    margin: 5rem auto;
  }
}

.Title {
  color: var(--primary-content-color);
  font: var(--font-display);
  line-height: 54px;
  text-align: center;
  font-weight: 300;
}

.List {
  max-width: min(400px, 90%);
  margin: 3rem auto 3rem auto;
  color: var(--primary-content-color);
  list-style: none;
  line-height: 1.2;
  padding-left: 1.4em;
  text-indent: -1.4em;

  @media only screen and (min-width: $medium-min-width) {
    margin: 4rem auto 5rem auto;
  }
}

.List li::before {
  color: var(--orange);
  content: "|\00a0\00a0\00a0";
  font: var(--font-title);
  font-weight: 800;
}

.List li {
  margin-bottom: var(--medium-spacer);
  font: var(--font-title);
}

.List li:not(:last-child) {
  margin-bottom: 1rem;
}

.CallToAction {
  text-align: center;
  margin-bottom: 4rem;
}

.CallToActionButton {
  height: 3.5rem;
  color: var(--primary-content-color);
  background-color: var(--orange);
  font: var(--font-title);
  font-weight: 500;
  opacity: 95%;
  border: 1px solid var(--orange);
  border-radius: 4px;
  padding: 0 23px 0 23px;
  text-decoration: none;
  outline: 0;
}

.CallToActionButton:hover {
  background-color: var(--orange);
  opacity: 100%;
}
