.Markdown {
  > * {
    margin-top: 1rem;
  }

  h1 {
    font: var(--font-headline);
    margin-bottom: 2rem;
  }

  h2 {
    font: var(--font-title);
    margin-top: 2rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font: var(--font-title);
  }

  p {
    font: var(--font-body);
  }

  a {
    font: var(--font-label);
    color: var(--active-font-color);
  }

  em {
    display: block;
    width: 100%;
    margin-top: 1.6rem;
    text-align: right;  
    font: var(--font-label-small);
    font-style: italic;
    text-align: right;
  }

  strong {
    display: block;
    width: 100%;
    margin-top: -2rem;
    text-align: center;
    margin: 0 auto;
    font: var(--font-body-small);
    font-style: normal;
  }

  ul {
    list-style-position: inside;
  }

  li {
    font: var(--font-label);
  }

  hr {
    width: 200px;
    height: 10px;
    margin: 4rem auto;
    border: none;
    background: radial-gradient(circle closest-side, #ccc 98%, #0000) 0 /
      calc(100% / 4) 100%;
  }

  figure {
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}
