.CallToAction {
  text-align: center;
}

.CallToActionButton {
  height: 3.5rem;
  color: #000;
  background-color: var(--orange);
  font: var(--font-title);
  font-weight: 500;
  opacity: 95%;
  border: 1px solid var(--orange);
  border-radius: 4px;
  padding: 0 23px 0 23px;
  text-decoration: none;
  outline: 0;
}

.CallToActionButton:hover {
  background-color: var(--orange);
  opacity: 100%;
  cursor: pointer;
}
