.NavbarItem {
  width: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.IconContainer {
  width: 62px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.Icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-content-color);
  color: var(--primary-content-color);
}

.Active {
  background-color: var(--secondary-active-background-color);
}

.ActiveIcon {
  animation: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal forwards fillit;

  @keyframes fillit {
    from {
      font-variation-settings: "FILL" 0;
    }
    to {
      font-variation-settings: "FILL" 1;
    }
  }
}

.Label {
  font: var(--font-label);
  font-size: 12px;
  color: var(--primary-content-color);
  text-decoration: none;
  white-space: nowrap;
}
