$expanded-min-width: 1080px;

.Container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $expanded-min-width) {
    height: 90%;
  }
}

.Dialog {
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  margin: 0 2rem;
  border: none;
  border-radius: 28px;
  background-color: var(--primary-background-color);
  overflow-y: auto;

  @media only screen and (min-width: $expanded-min-width) {
    max-width: 600px;
  }
}

.Header {
  height: var(--largest-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 1rem;
}

.Title {
  font: var(--font-title);
}

.CloseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CloseButton {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  fill: var(--primary-content-color);
}

.CloseButton:hover {
  background: var(--hovered-background);
  cursor: pointer;
}

.Close {
  height: 20px;
}
