.HSpace {
  width: 100%;
}

.Small {
  height: var(--small-spacer);
}

.Medium {
  height: var(--medium-spacer);
}

.High {
  height: var(--large-spacer);
}

.Highest {
  height: var(--largest-spacer);
}
