.Section {
  padding: 1.5rem 1rem;
}

.Bordered {
  margin: 1rem;
  border: var(--primary-border);
  border-radius: var(--medium-border-radius);
}

.Active {
  @extend .Bordered;
  border-color: var(--active-content-color);
}

.Danger {
  @extend .Bordered;
  border: var(--danger-border);
}

.Flat {
  padding: 0 1rem;
}

.Padded {
  padding: 1.5rem 3rem;
}
