$panel-height: 64px;

.Panel {
  min-height: 64px;
  background-color: var(--display-background-color);
  border-bottom: var(--secondary-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MenuIcon {
  fill: var(--primary-content-color);
  width: 22px;
  height: 22px;
  margin: 10px;
  padding: 11px;
  border-radius: 50%;
  flex-shrink: 0;
}

.MenuIcon:hover {
  background-color: rgba(0, 0, 0, 0);
  background: var(--hovered-background);
}

.Main {
  display: flex;
  justify-content: end;
  align-items: center;
}

$slider-width: 320px;

.Slider {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -$slider-width;
  width: $slider-width;
  max-width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary-background-color);
}

.Slider .Menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SlideIn {
  left: 0;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.SlideOut {
  left: -$slider-width;
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.SliderBackground {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32);
}

.SliderBackgroundIn {
  visibility: visible;
  opacity: 1;
  transition: all 0.6s;
}

.SliderBackgroundOut {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.MainNavigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.MainNavigationIcon {
  margin: 0 0.8rem;
  height: 1.7rem;
  fill: var(--primary-content-color);
}

.Settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.EnvironmentBanner {
  position: relative;
  color: var(--danger-content-color);
  background-color: var(--secondary-background-color);
  padding: 1rem 0;
  text-align: center;
  svg {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
  }
  p {
    font: var(--font-headline);
  }
  span {
    font: var(--font-label);
  }
  a {
    color: var(--active-content-color);
  }
}
