.PanelItem {
  $navigation-item-height: 48px;
  width: 90%;
  height: $navigation-item-height;
  padding: 0 1rem;
  border-radius: calc($navigation-item-height / 2);
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  font: var(--font-label);
  text-decoration: none;
  color: var(--header-content-color);
  background: none;
  border: none;
  outline: inherit;
  box-sizing: border-box;
}

.PanelItem:hover {
  background: var(--hovered-background);
  cursor: pointer;
}

.Active {
  background-color: var(--secondary-active-background-color);
}

.Active:hover {
  @extend .Active;
}

.Icon {
  margin: 0 0.8rem;
  fill: var(--header-content-color);
}
