.Headline {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  font: var(--font-headline);
  text-align: center;
}

.Image {
  width: 100%;
  max-height: var(--item-image-max-height);
  object-fit: cover;
  aspect-ratio: var(--item-image-aspect-ratio);
  border: none;
}

.Title {
  display: block;
  margin: 0 auto;
  font: var(--font-title);
  text-align: center;
}

.Details {
  display: block;
  font: var(--font-body-small);
}

.Body {
  display: block;
  font: var(--font-body);
  font-style: italic;
}
