$expanded-min-width: 1080px;

.Headline {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  font: var(--font-headline);
  text-align: center;
}

.ImageContainer {
  margin-top: 0;

  @media only screen and (min-width: $expanded-min-width) {
    margin-top: 1rem;
  }
}

.Image {
  width: 100%;
  aspect-ratio: var(--banner-image-aspect-ratio);
  object-fit: cover;
  border: none;
}

.Title {
  display: block;
  margin: 0 auto 2rem auto;
  font: var(--font-title);
  text-align: center;
}

.Details {
  display: block;
  font: var(--font-body-small);
}

.Body {
  display: block;
  font: var(--font-body);
  font-style: italic;
}
