.Headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  font: var(--font-headline);
}

.HeadlineIcon {
  fill: var(--primary-content-color);
  max-height: 2.4rem;
}

$search-height: 2rem;

.Search {
  height: 4rem;
  margin-top: 2rem;
  box-sizing: border-box;
  padding: 0 1rem;
  border: var(--primary-border);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.SearchIcon {
  fill: var(--primary-content-color);
  stroke: var(--primary-content-color);
  max-height: 2rem;
}

.SearchInput {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  font: var(--font-title);
  color: var(--primary-content-color);
}

.SearchInput:focus:focus-visible {
  outline: none;
}
