.Title {
  display: block;
  margin: 0 auto;
  font: var(--font-title);
}

.Details {
  font: var(--font-body-small);
}

.Body {
  display: block;
  font: var(--font-body);
  font-style: italic;
}

.Price {
  width: 100%;
  display: block;
  font: var(--font-headline);
  text-align: right;
}

.Buy {
  display: flex;
  justify-content: center;
  font: var(--font-title);
}
