.Headline {
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  font: var(--font-headline);
  text-align: center;
}

.Title {
  display: block;
  margin: 0 auto;
  font: var(--font-title);
  text-align: center;
}

.Details {
  display: block;
  font: var(--font-body-small);
}

.Body {
  display: block;
  font: var(--font-body);
  font-style: italic;
}

.Price {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.Buy {
  flex: 1;
  display: flex;
  justify-content: end;
}
