.TitleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Title {
  display: block;
  font: var(--font-title);
}

.Label {
  display: block;
  font: var(--font-label);
}

.Setting {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.SettingRow {
  @extend .Setting;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  gap: 2rem;
}

.SettingRow:hover {
  background: var(--hovered-background);
}

.Actions {
  width: 100%;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  font-size: 18px;
}
