.MarketBooth {
  padding: 1rem 1rem 4rem 1rem;
}

.Title {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  font: var(--font-title);
  text-align: center;
}

.Actions {
  width: 100%;
  text-align: center;
}
