.Title {
  display: block;
  font: var(--font-title);
}

.Label {
  font: var(--font-label);
}

.Body {
  font: var(--font-body);
}

.Details {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--default-font-weight);
}

.Details strong {
  font-size: var(--small-font-size);
}

.EditSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;
}

.DangerSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;
}
