$medium-min-width: 750px;
$expanded-min-width: 1080px;

.OfferList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

@media only screen and (min-width: $medium-min-width) {
  .OfferList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: $expanded-min-width) {
  .OfferList {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
