.Form {
  padding: 0 2rem;
}

.Form > * {
  margin-bottom: 1rem;
}

.Label {
  display: block;
  font: var(--font-body);
}

.Strong {
  display: block;
  font: var(--font-body);
  font-weight: 500;
}

.Link {
  color: var(--primary-content-color);
  font: var(--font-label);
  text-decoration: underline;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.Link:hover {
  color: var(--active-content-color);
}

.DialogFooter {
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.ErrorInfo {
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ErrorInfoText {
  color: var(--danger-content-color);
}

.FieldSet {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 54px;
}

.FieldSetSmall {
  @extend .FieldSet;
  height: 1.6rem;
}

.FieldSetInput {
  flex-grow: 1;
}

.FieldSetExtra {
  height: 100%;
  flex-shrink: 1;
  min-width: 6rem;
}

.Row {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.Row > .Label {
  min-width: 100px;
}

.Pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
