.Search {
  height: 52px;
  box-sizing: border-box;
  border-radius: 26px;
  display: flex;
  align-items: center;
  background: var(--highlighted-background);
  margin-bottom: 8px;
}

.SearchInput {
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font: var(--font-title);
  color: var(--primary-content-color);
}

.SearchInput:focus:focus-visible {
  outline: none;
}

.SearchIcon {
  fill: var(--primary-content-color);
  stroke: var(--primary-content-color);
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 16px;
  padding-right: 8px;
}

.RefreshIcon {
  @extend .SearchIcon;
  padding-left: 8px;
  padding-right: 16px;
  user-select: none;
}

.RefreshIcon:hover {
  cursor: pointer;
}

.QueryPanel {
  display: flex;
  flex-wrap: wrap;
}
