.MediaList {
  border-top: var(--secondary-border);
  display: flex;
  flex-direction: column;
}

.Label {
  display: block;
  font: var(--font-label);
}

.Row {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--secondary-border);
  gap: 0.5rem;
}

.Row:hover {
  background: var(--hovered-background);
}

.RowActions {
  display: flex;
  gap: 0.5rem;
}

.Errors {
  color: var(--danger-content-color);
  font: var(--font-body);
}
