.ImageContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Image {
  width: 100%;
  aspect-ratio: var(--banner-image-aspect-ratio);
  object-fit: cover;
}

.EditButton {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--display-background-color-lighten);

  user-select: none;
  border: none;
  outline: inherit;
  text-align: start;
  text-decoration: none;
  box-sizing: border-box;
}

.EditButton:hover {
  cursor: pointer;
  background-color: var(--display-background-color);
}

.EditIcon {
  width: 40px;
  height: 40px;
  padding: 8px;
  fill: var(--primary-content-color);
}
