.Title {
  display: block;
  font: var(--font-title);
}

.Label {
  font: var(--font-label);
  margin-bottom: 0.5rem;
}

.Body {
  font: var(--font-body);
}

.Details {
  display: block;
  font: var(--font-body);
}

.Details strong {
  font: var(--font-body);
}

.EditSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
