.TitleSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Title {
  display: block;
  font: var(--font-title);
}

.Table {
  margin-bottom: 0.5rem;
  border-top: var(--secondary-border);
}

.Row {
  padding: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: var(--secondary-border);
  gap: 1em;
  text-decoration: none;
}

.Row:hover {
  background: var(--hovered-background);
}

.More {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  color: var(--primary-content-color);
  text-align: center;
  text-decoration: underline;
  font: var(--font-label);
}

.Name {
  min-width: 50%;
  font: var(--font-label);
  color: var(--primary-content-color);
  text-decoration: none;
}

.Name:hover {
  color: var(--active-content-color);
}
