.OfferImages {
  padding: 0 1rem;
}

.MainImage {
  height: var(--item-image-max-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image {
  max-width: 100%;
  max-height: var(--item-image-max-height);
  object-fit: cover;
  aspect-ratio: var(--item-image-aspect-ratio);
  border-radius: 8px;
}

.DeleteButton {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--display-background-color-lighten);

  user-select: none;
  border: none;
  outline: inherit;
  text-align: start;
  text-decoration: none;
  box-sizing: border-box;
}

.DeleteButton:hover {
  cursor: pointer;
  background-color: var(--display-background-color);
}

.DeleteIcon {
  padding: 8px;
  fill: var(--primary-content-color);
}

.ImageGallery {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.ImagePreview {
  max-width: 90px;
  object-fit: cover;
  aspect-ratio: var(--item-image-aspect-ratio);
  border-radius: 8px;
}
