.Title {
  display: block;
  font: var(--font-title);
}

.Label {
  font: var(--font-label);
  margin-bottom: 0.5rem;
}

.Body {
  font: var(--font-body);
}

.Details {
  display: block;
  font: var(--font-body);
}

.Details strong {
  font: var(--font-body);
}

.Ok {
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: var(--green);
  font: var(--font-body);
  border: 2px solid var(--green);
  border-radius: 4px;
  user-select: none;
}

.EditSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.EditSection:hover {
  background: var(--hovered-background);
}

.Active {
  font: var(--font-body);
  font-weight: 500;
  color: var(--active-content-color);
}

.Warning {
  font: var(--font-body);
  font-weight: 500;
  color: var(--warning-content-color);
}
