.LandingPageHero {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
}

.Hero {
  max-width: 758px;
  margin: 0 auto;

  @media only screen and (min-width: 360px) {
    padding-top: 2rem;
  }
  @media only screen and (min-width: 600px) {
    padding-top: 5rem;
  }
}

.Title {
  color: var(--primary-content-color);
  font: var(--font-display);
  line-height: 54px;
  text-align: center;
  font-weight: 300;
}

.List {
  max-width: min(400px, 90%);
  margin: 3rem auto 3rem auto;
  color: var(--primary-content-color);
  list-style: none;
  line-height: 1.2;
  padding-left: 1.4em;
  text-indent: -1.4em;

  @media only screen and (min-width: 600px) {
    margin: 4rem auto 5rem auto;
  }
}

.List li::before {
  color: var(--orange);
  content: "|\00a0\00a0\00a0";
  font: var(--font-title);
  font-weight: 800;
}

.List li {
  margin-bottom: var(--medium-spacer);
  font: var(--font-title);
}

.List li:not(:last-child) {
  margin-bottom: 1rem;
}

.CallToAction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.CallToActionButton {
  height: 3.5rem;
  color: #000;
  background-color: var(--orange);
  font: var(--font-title);
  font-weight: 500;
  opacity: 95%;
  border: 1px solid var(--orange);
  border-radius: 4px;
  padding: 0 23px 0 23px;
  text-decoration: none;
  outline: 0;
}

.CallToActionButton:hover {
  background-color: var(--orange);
  opacity: 100%;
  cursor: pointer;
}
