.IconDefault {
  height: 30px;
  width: 30px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--primary-content-color);
}

.IconDefault:hover {
  cursor: pointer;
  background: var(--hovered-background);
}

.IconDefault:active:focus {
  background: var(--hovered-background);
}
