.PostsNav {
  padding: 2rem 1rem;

  ol {
    list-style-position: inside;
  }

  li {
    font: var(--font-title);
  }
  
  a {
    color: var(--primary-content-color);
    text-decoration: underline;
  }
}

.Link {
  font: var(--font-title);
}

.Subtitle {
  font: var(--font-label);
}

.Active a {
  color: var(--active-content-color);
}

.OpenInNew {
  width: 0.7em;
  height: 0.7em;
  fill: var(--active-content-color);
}
