.FooterContainer {
  background-color: var(--secondary-background-color);
  border-top: var(--primary-border);
}

.Footer {
  max-width: 80rem;
  margin: 0 auto;
}

.Title {
  height: 48px;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.MainLogoIcon {
  height: 36px;
  fill: var(--primary-content-color);
}

.MainLogoText {
  height: 44px;
  fill: var(--primary-content-color);
  margin-left: 1rem;
}

.Content {
  max-width: 600px;
  padding: 0 2rem 1rem 2rem;
  font: var(--font-label);
}

.SiteLinks {
  padding: 0 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.SiteLinks a {
  font: var(--font-label-large);
  text-decoration: none;
  color: var(--active-content-color);
}

.LinkWithIcon {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.LinkIcon {
  fill: var(--active-content-color);
  height: 2rem;
  margin-bottom: 0.5rem;
}

.SocialContainer {
  @extend .FooterContainer;
}

.Social {
  @extend .Footer;
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.SocialIcon {
  height: 30px;
}

.OpenInNew {
  width: 0.7em;
  height: 0.7em;
  fill: var(--active-content-color);
}
