:root.theme-default-light {
  --display-content-color: #141414;
  --primary-content-color: #303134;
  --secondary-content-color: #4d4e53;
  --active-content-color: #176dde;
  --secondary-active-content-color: #1360c9;
  --danger-content-color: #e60025;
  --secondary-danger-content-color: #cc0020;

  --primary-border-color: #303134;
  --secondary-border-color: #30313486;
  --danger-border-color: #e00025b7;

  --display-background-color: #f8f9fa;
  --display-background-color-lighten: #f8f9fa80;
  --primary-background-color: #f8f8f8;
  --secondary-background-color: #dde4e9;
  --active-background-color: #c2e7ff;
  --hovered-background: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.12),
    rgba(68, 71, 70, 0.12)
  );
  --hovered-danger-background-color: #ff3b5c14;
  --blend-color: #000000;
  --blend-opacity: 20%;

  --hover-filter: brightness(90%);
}

:root.theme-default-dark {
  --display-content-color: #f8f9fa;
  --primary-content-color: #e8eaed;
  --secondary-content-color: #b9bbbd;
  --active-content-color: #8ab4f8;
  --secondary-active-content-color: #8ab4f8;
  --danger-content-color: #ff3b5b;
  --secondary-danger-content-color: #ff5c77;

  --primary-border-color: #5f6368;
  --secondary-border-color: #5f63687a;
  --danger-border-color: #ff3b5cb7;

  --display-background-color: #141414;
  --display-background-color-lighten: #14141480;
  --primary-background-color: #1e1e1e;
  --secondary-background-color: #2d2f31;
  --active-background-color: #004a77;
  --hovered-background: linear-gradient(
    0deg,
    rgba(196, 199, 197, 0.08),
    rgba(196, 199, 197, 0.08)
  );
  --hovered-danger-background-color: #ff3b5c14;
  --blend-color: #ffffff;
  --blend-opacity: 10%;

  --hover-filter: brightness(90%);
}

:root {
  // Layout sizes
  --top-app-bar-height: 64px;
  --footer-height: 128px;
  --fill-height: calc(100vh - var(--top-app-bar-height));

  $medium-min-width: 600px;
  --medium-min-width: 600px;
  $expanded-min-width: 1080px;
  --expanded-min-width: 1080px;
  $medium-max-width: $expanded-min-width - 1px;

  // Spacing
  --smallest-spacer: 4px;
  --small-spacer: 8px;
  --medium-spacer: 16px;
  --large-spacer: 32px;
  --largest-spacer: 64px;

  // Borders
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border: 1px solid var(--secondary-border-color);
  --danger-border: 1px solid var(--danger-border-color);

  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 16px;

  // Fonts
  --font-display-small: normal normal 400 36px /1.2222 "Noto Sans";
  --font-display-medium: normal normal 400 45px /1.1555 "Noto Sans";
  --font-display-large: normal normal 400 57px /1.1228 "Noto Sans";

  --font-headline-small: normal normal 400 24px /1.3333 "Noto Sans";
  --font-headline-medium: normal normal 400 28px /1.2857 "Noto Sans";
  --font-headline-large: normal normal 400 32px /1.25 "Noto Sans";

  --font-title-small: normal normal 500 14px /1.4285 "Noto Sans";
  --font-title-medium: normal normal 500 18px /1.5 "Noto Sans";
  --font-title-large: normal normal 500 22px /1.2727 "Noto Sans";

  --font-label-small: normal normal 500 12px /1.3333 "Roboto";
  --font-label-medium: normal normal 500 14px /1.4285 "Roboto";
  --font-label-large: normal normal 500 16px /1.5 "Roboto";

  --font-body-small: normal normal 400 12px /1.3333 "Roboto";
  --font-body-medium: normal normal 400 14px /1.4286 "Roboto";
  --font-body-large: normal normal 400 16px /1.5 "Roboto";

  --font-display: var(--font-display-small);
  --font-headline: var(--font-headline-small);
  --font-title: var(--font-title-medium);
  --font-label: var(--font-label-large);
  --font-body: var(--font-body-medium);
  --font-detail: var(--font-body-small);

  @media only screen and (min-width: $medium-min-width) and (max-width: $medium-max-width) {
    --font-display: var(--font-display-medium);
    --font-headline: var(--font-headline-medium);
    --font-title: var(--font-title-medium);
    --font-label: var(--font-label-large);
    --font-body: var(--font-body-medium);
    --font-detail: var(--font-body-small);
  }

  @media only screen and (min-width: $expanded-min-width) {
    --font-display: var(--font-display-large);
    --font-headline: var(--font-headline-large);
    --font-title: var(--font-title-large);
    --font-label: var(--font-label-large);
    --font-body: var(--font-body-large);
    --font-detail: var(--font-body-medium);
  }

  // Colors
  // https://paletton.com/#uid=70d0u0kpBw0fFJEkXBhv6t0wcmo

  --yellow-light: #ffc882;
  --yellow: #ffa533;
  --yellow-dark: #b26300;

  --orange-light: #ffa282;
  --orange: #ff6733;
  --orange-dark: #b22e00;

  --pink-light: #ef7aa1;
  --pink: #e12d6a;
  --pink-dark: #9d0035;

  --blue-light: #6fa8cd;
  --blue: #2873a3;
  --blue-dark: #074872;

  --green-light: #6dd5a3;
  --green: #24b26e;
  --green-dark: #007c40;

  // Images
  --item-image-aspect-ratio: 4 / 3;
  --banner-image-aspect-ratio: 4 / 1;

  @media only screen and (min-width: $medium-min-width) and (max-width: $medium-max-width) {
    --banner-image-aspect-ratio: 5 / 1;
  }

  @media only screen and (min-width: $expanded-min-width) {
    --banner-image-aspect-ratio: 6 / 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font: var(--font-body);
  color: var(--primary-content-color);

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}
