:root.theme-default-light {
  --primary-content-color: #303134;
  --secondary-content-color: #4d4e53;
  --active-content-color: #176dde;
  --secondary-active-content-color: #1360c9;
  --warning-content-color: #bc5100;
  --danger-content-color: #e60025;
  --secondary-danger-content-color: #cc0020;
  --ok-content-color: #1a8250;

  --primary-border-color: #303134;
  --secondary-border-color: #30313486;
  --danger-border-color: #e00025b7;

  --display-background-color: #f8f9fa;
  --primary-background-color: #f8f8f8;
  --primary-background-color-lighten: #f8f9fa80;
  --secondary-background-color: rgb(236, 230, 240);
  --tertiary-background-color: #dde4e9;
  --active-background-color: #c2e7ff;
  --secondary-active-background-color: #b0ccf1;
  --hovered-background: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.12),
    rgba(68, 71, 70, 0.12)
  );
  --hovered-active-background-color: #176dde14;
  --hovered-danger-background-color: #ff3b5c14;
  --blend-color: #000000;
  --blend-opacity: 20%;

  --hover-filter: brightness(90%);

  // main background colors
  --main-background-color: #f8f9fa;
  --main-display-background-color: #fff;
  --main-header-background: linear-gradient(0deg, transparent 0, #f8f9fa 16px);
  --main-navigation-background-color: #f8f9fa;
  --main-navigation-background: linear-gradient(0deg, #6991d614, #6991d614),
    #f8f9fa;
  --main-menu-background-color: #f8f9fa;
  --highlighted-background: linear-gradient(0deg, #6991d614, #6991d614), #f8f9fa;

  // customizable variables
  --header-content-color: #141414;
  --header-background-color: #f8f9fa;
  --footer-content-color: #303134;
  --footer-background-color: #dde4e9;
}

:root.theme-default-dark {
  --primary-content-color: #e8eaed;
  --secondary-content-color: #b9bbbd;
  --active-content-color: #8ab4f8;
  --secondary-active-content-color: #8ab4f8;
  --warning-content-color: #ff6733;
  --danger-content-color: #ff3b5b;
  --secondary-danger-content-color: #ff5c77;
  --ok-content-color: #27c177;

  --primary-border-color: #5f6368;
  --secondary-border-color: #5f63687a;
  --danger-border-color: #ff3b5cb7;

  --display-background-color: #141414;
  --primary-background-color: #1e1e1e;
  --primary-background-color-lighten: #14141480;
  --secondary-background-color: #2d2f31;
  --tertiary-background-color: #2e2d31;
  --active-background-color: #004a77;
  --secondary-active-background-color: #004a77;
  --hovered-background: linear-gradient(
    0deg,
    rgba(196, 199, 197, 0.08),
    rgba(196, 199, 197, 0.08)
  );
  --hovered-active-background-color: #8ab4f814;
  --hovered-danger-background-color: #ff3b5c14;
  --blend-color: #ffffff;
  --blend-opacity: 10%;

  --hover-filter: brightness(90%);

  // main background colors
  --main-background-color: #1e1e1e;
  --main-display-background-color: #141414;
  --main-header-background: linear-gradient(0deg, transparent 0, #1e1e1e 16px);
  --main-navigation-background-color: #1f1f1f;
  --main-navigation-background: linear-gradient(0deg, #d1e1ff14, #d1e1ff14),
    #1f1f1f;
  --main-menu-background-color: #303134;
  --highlighted-background: linear-gradient(0deg, #6991d614, #6991d614);

  // customizable variables
  --header-content-color: #f8f9fa;
  --header-background-color: #141414;
  --footer-content-color: #e8eaed;
  --footer-background-color: #2d2f31;
}

:root {
  // Layout sizes
  --main-header-height: 86px;
  --main-navigation-bar-height: 80px;
  --main-navigation-rail-width: 96px;

  $small-min-width: 330px;
  $medium-min-width: 600px;
  $expanded-min-width: 1080px;
  $medium-max-width: $expanded-min-width - 1px;
  --small-min-width: 330px;
  --medium-min-width: 600px;
  --medium-max-width: 1080px;
  --expanded-min-width: 1081px;
  --expanded-max-width: 1440px;

  // Spacing
  --smallest-spacer: 4px;
  --small-spacer: 8px;
  --medium-spacer: 16px;
  --large-spacer: 32px;
  --largest-spacer: 64px;

  // Borders
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border: 1px solid var(--secondary-border-color);
  --danger-border: 1px solid var(--danger-border-color);

  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 16px;

  // Fonts
  --font-display-small: normal normal 400 36px /1.2222 "Noto Sans";
  --font-display-medium: normal normal 400 45px /1.1555 "Noto Sans";
  --font-display-large: normal normal 400 57px /1.1228 "Noto Sans";

  --font-headline-small: normal normal 400 24px /1.3333 "Noto Sans";
  --font-headline-medium: normal normal 400 28px /1.2857 "Noto Sans";
  --font-headline-large: normal normal 400 32px /1.25 "Noto Sans";

  --font-title-small: normal normal 400 14px /1.4285 "Noto Sans";
  --font-title-medium: normal normal 400 18px /1.5 "Noto Sans";
  --font-title-large: normal normal 400 22px /1.2727 "Noto Sans";

  --font-label-small: normal normal 500 12px /1.3333 "Roboto";
  --font-label-medium: normal normal 500 14px /1.4285 "Roboto";
  --font-label-large: normal normal 500 16px /1.5 "Roboto";

  --font-body-small: normal normal 400 12px /1.3333 "Roboto";
  --font-body-medium: normal normal 400 14px /1.4286 "Roboto";
  --font-body-large: normal normal 400 16px /1.5 "Roboto";

  --font-display: var(--font-display-small);
  --font-headline: var(--font-headline-small);
  --font-title: var(--font-title-medium);
  --font-label: var(--font-label-large);
  --font-body: var(--font-body-medium);
  --font-detail: var(--font-body-small);

  @media only screen and (max-width: $small-min-width) {
    --font-display: var(--font-display-small);
    --font-headline: var(--font-headline-small);
    --font-title: var(--font-title-small);
    --font-label: var(--font-label-small);
    --font-body: var(--font-body-small);
    --font-detail: var(--font-body-small);
  }

  @media only screen and (min-width: $medium-min-width) and (max-width: $medium-max-width) {
    --font-display: var(--font-display-medium);
    --font-headline: var(--font-headline-medium);
    --font-title: var(--font-title-medium);
    --font-label: var(--font-label-large);
    --font-body: var(--font-body-medium);
    --font-detail: var(--font-body-small);
  }

  @media only screen and (min-width: $expanded-min-width) {
    --font-display: var(--font-display-large);
    --font-headline: var(--font-headline-large);
    --font-title: var(--font-title-large);
    --font-label: var(--font-label-large);
    --font-body: var(--font-body-large);
    --font-detail: var(--font-body-medium);
  }

  // Colors
  // https://paletton.com/#uid=70d0u0kpBw0fFJEkXBhv6t0wcmo

  --yellow-light: #ffc882;
  --yellow: #ffa533;
  --yellow-dark: #b26300;

  --orange-light: #ffa282;
  --orange: #ff6733;
  --orange-dark: #b22e00;

  --pink-light: #ef7aa1;
  --pink: #e12d6a;
  --pink-dark: #9d0035;

  --blue-light: #6fa8cd;
  --blue: #2873a3;
  --blue-dark: #074872;

  --green-light: #6dd5a3;
  --green: #24b26e;
  --green-dark: #007c40;

  // Images
  --item-image-aspect-ratio: 4 / 3;
  --banner-image-aspect-ratio: 4 / 1;

  // // Material UI
  --md-sys-color-primary: var(--active-content-color);
  --md-sys-color-error: var(--danger-content-color);

  --md-sys-color-primary-container: var(--primary-background-color);
  --md-sys-color-on-primary-container: var(--primary-content-color);
  --md-sys-color-secondary-container: var(--secondary-background-color);
  --md-sys-color-on-secondary-container: var(--secondary-content-color);
  --md-sys-color-tertiary-container: var(--secondary-background-color);
  --md-sys-color-on-tertiary-container: var(--secondary-content-color);

  --md-sys-color-background: var(--primary-background-color);
  --md-sys-color-on-background: var(--primary-content-color);
  --md-sys-color-surface: var(--primary-background-color);
  --md-sys-color-on-surface: var(--primary-content-color);
  --md-sys-color-surface-variant: var(--secondary-background-color);
  --md-sys-color-on-surface-variant: var(--secondary-content-color);

  --md-sys-color-surface-container-high: var(--secondary-background-color);
  --md-sys-color-surface-container-highest: var(--tertiary-background-color);
  --md-sys-color-outline: var(--active-content-color);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font: var(--font-body);
  color: var(--primary-content-color);

  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

input {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}
