:root.theme-default-light {
  --primary-font-color: #202124;
  --hovered-font-color: #1d1e20;
  --active-font-color: #1a73e8;
  --danger-font-color: #ff3b5b;
  --content-font-color: #303134;
  --secondary-content-font-color: #303134ee;

  --primary-background-color: #f8f8f8;
  --secondary-background-color: #f8f9fa;
  --tertiary-background-color: #f1f3f4;

  --focused-background-color: #8ab4f841;
  --hovered-background-color: #8ab4f821;
  --hovered-danger-background-color: #ff3b5c14;

  --primary-border-color: #303134;
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border-color: #30313486;
  --secondary-border: 1px solid var(--secondary-border-color);

  --primary-shadow-color: #00000033;
}

:root.theme-default-dark {
  --primary-font-color: #9aa0a6;
  --hovered-font-color: #e8eaed;
  --active-font-color: #8ab4f8;
  --danger-font-color: #ff3b5b;
  --content-font-color: #e8eaed;
  --secondary-content-font-color: #e8eaed8a;

  --primary-background-color: #1e1e1e;
  --secondary-background-color: #141414;
  --tertiary-background-color: #303134;

  --focused-background-color: #8ab4f80a;
  --hovered-background-color: #8ab4f80a;
  --hovered-danger-background-color: #ff3b5c14;

  --primary-border-color: #5f6368;
  --primary-border: 1px solid var(--primary-border-color);
  --secondary-border-color: #5f63687a;
  --secondary-border: 1px solid var(--secondary-border-color);

  --primary-shadow-color: #00000044;
}

:root {
  // Fonts
  --small-font-size: 12px;
  --default-font-size: 14px;
  --large-font-size: 16px;

  --primary-font-family: "Roboto", "Google Sans", "-apple-system",
    "BlinkMacSystemFont", sans-serif;
  --secondary-font-family: "Google Sans", "-apple-system", "BlinkMacSystemFont",
    sans-serif;

  // Layout sizes
  --app-x-padding: 60px;
  --top-app-bar-height: 64px;
  --footer-height: 128px;
  --section-width: 760px;
  --section-max-width: 1080px;
  --widescreen-max-width: 1440px;
  --desktop-max-width: 1240px;
  --tablet-max-width: 905px;
  --mobile-max-width: 600px;

  // Spacing
  --smallest-spacer: 4px;
  --small-spacer: 8px;
  --medium-spacer: 16px;
  --large-spacer: 36px;
  --largest-spacer: 64px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font-family);
  color: var(--content-font-color);
}
