.HeaderContainer {
  width: 100%;
  height: var(--main-header-height);
  position: fixed;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  background: var(--main-header-background);
}

.Header {
  max-width: var(--medium-max-width);
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.HeaderActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.HeaderIcon {
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--primary-content-color);
  color: var(--primary-content-color);
}

.HeaderIcon:hover {
  cursor: pointer;
  background: var(--hovered-background);
}

.HeaderIcon:active:focus {
  background: var(--hovered-background);
}

.Main {
  width: 100%;
  background-color: var(--main-background-color);

  padding-top: var(--main-header-height);
  padding-bottom: var(--main-navigation-bar-height);
  box-sizing: border-box;
}

.Content {
  max-width: var(--medium-max-width);
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.ReportButton {
  position: fixed;
  bottom: 4px;
  right: max(calc((100vw - var(--medium-max-width)) / 2 - 4px), 4px);
}

.Footer {
  max-width: var(--medium-max-width);
  margin: 0 auto;
  padding-bottom: 50px;
}

.Display {
  background: none;
  background-color: var(--main-display-background-color);
}
