$slider-width: 320px;

.SettingsSlider {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: var(--main-navigation-bar-height);
  right: 0;
  width: $slider-width;
  max-width: 100%;
  min-height: 100vh;
  // min-height: -webkit-fill-available;
  transform: translateX(100%);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-menu-background-color);
}

.SlideIn {
  transform: translateX(0%);
}

.Slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: $slider-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.Menu {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 8px;
  padding-left: 16px;
  box-sizing: border-box;
}

.Title {
  font: var(--font-title);
  font-weight: 500;
}

.MenuIcon {
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--primary-content-color);
}

.MenuIcon:hover {
  cursor: pointer;
  background: var(--hovered-background);
}

.MenuIcon:active:focus {
  background: var(--hovered-background);
}

.Links {
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
  flex: 1;
}

.Settings {
  @extend .Links;
  flex: 0;
}
