$header-height: 64px;

.HeaderContainer {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  background-color: var(--header-background-color);
}

.Header {
  max-width: var(--medium-max-width);
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.HeaderActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.HeaderIcon {
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--primary-content-color);
  color: var(--primary-content-color);
}

.HeaderIcon:hover {
  cursor: pointer;
  background: var(--hovered-background);
}

.HeaderIcon:active:focus {
  background: var(--hovered-background);
}

.MainLink {
  padding: 0.5rem 1rem;
  color: var(--primary-content-color);
  font: var(--font-title);
  text-decoration: none;
}

.MainLink:hover {
  background: var(--hovered-background);
  cursor: pointer;
}

.LogoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
}

.LogoLink:hover {
  background-color: rgba(0, 0, 0, 0);
  background: var(--hovered-background);
  cursor: pointer;
}

.Logo {
  max-width: 100%;
  height: 42px;
  object-fit: contain;
}

.Content {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-background-color);

  margin: 0 auto;
  padding-top: $header-height;
  box-sizing: border-box;
}

.Footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding: 0 4px;
  box-sizing: border-box;
  border-top: var(--primary-border);
  background-color: var(--footer-background-color);
}

.FooterLogo {
  margin: 8px;
}

.FooterLogoLink {
  width: fit-content;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.FooterLogoLink:hover {
  background-color: rgba(0, 0, 0, 0);
  background: var(--hovered-background);
  cursor: pointer;
}

.FooterLogoIcon {
  height: 22px;
  fill: var(--footer-content-color);
  user-select: none;
}

.FooterLogoText {
  max-width: 100%;
  height: 34px;
  fill: var(--footer-content-color);
  user-select: none;
}
