.OfferBuy {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
  font: var(--font-title);
}

.Contact {
  width: 100%;
  box-sizing: content-box;
}

.Label {
  display: block;
  font: var(--font-label);
}
